
{% block content %}
        <h2>Vehicle</h2>
<a href="/cust/{{ object.customer_id}}">Back to customer</a><p />
<a href="/vehicleedit/{{ object.id}}">Edit vehicle</a> <a href="/vehicledelete/{{ object.id}}">Delete vehicle</a><br />
{{ object.vehicle_year|add:" "|add:object.vehicle_make|add:" "|add:object.vehicle_model }}<br />
Colour: {{ object.colour}} <br />
Plate: {{ object.plate}} <br />
VIN: {{ object.VIN}} <br />
Mileage: {{ object.mileage }}<p />
<a href="/newservice/{{ object.id}}">Add service</a>
<ul>
 {% for service in service_events %}
                        <li><a href="/service/{{ service.id}}">{{ service.service_description}} ({{ service.service_date}})</a></li>
                {% endfor %}

        </ul><p />
<a href="/newquote/{{ object.id}}">Add quote</a>
<ul>
 {% for quote in quotes %}
                        <li><a href="/quote/{{ quote.id}}">{{ quote.quote_description}} ({{ quote.quote_date}})</a></li>
                {% endfor %}

        </ul>
{% endblock %}


